@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<header>
    <NavMenu />

    <AuthorizeView>
        <p>Hello, @context.User.Identity?.Name!</p>
    </AuthorizeView>


    

    

    

</header>

<main>
    @Body
</main>

<footer>
    <span>(c) 2024</span>
</footer>