<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorServerApp.styles.css" />

    <style>
        body {
            margin: 2rem;
        }

        .badge.Awaiting  {
            background-color: #0d6efd
        }

        .badge.Accepted {
            background-color: #198754
        }

        .badge.Cancelled {
            background-color: #dc3545
        }
        
        </style>

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
