@page "/users"
@using BlazorServerApp.Abstractions
@using Models
@using Infrastructure
@inject IUserRepository repository

<h3>Users</h3>

<table class="table table-bordered table-striped">
    <thead>
        <th>Imię</th>
        <th>Nazwisko</th>
    </thead>

    <tbody>
       
            @foreach (var user in users)
            {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
            </tr>
            }
        
    </tbody>
</table>

@code {

    List<User> users = new List<User>();

    protected override void OnInitialized()
    {
        users = repository.GetAll();
    }
}
