@page "/users/create"
@using BlazorServerApp.Abstractions
@using BlazorServerApp.Models
@inject IUserRepository repository
@inject NavigationManager mavigationManager

<h3>Create</h3>


<EditForm Model="User" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <label for="first-name">Imię</label>
        <InputText id="first-name" @bind-Value="User.FirstName" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="last-name">Nazwisko</label>
        <InputText id="last-name" @bind-Value="User.LastName" class="form-control"  />
    </div>

    <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>

</EditForm>

@code {

    public User User { get; set; }

    private void HandleValidSubmit()
    {
        repository.Add(User);

        mavigationManager.NavigateTo("/users");
    }


    protected override void OnInitialized()
    {
        User = new User();
    }
}
