@page "/users"
@using BlazorServerApp.Abstractions
@using Models
@using Infrastructure
@inject IUserRepository repository
@inject NavigationManager navigationManager

<h3>Users</h3>

<a href="/users/create" class="btn btn-primary">Dodaj</a>

<table class="table table-bordered table-striped">
    <thead>
    <th>Imię</th>
    <th>Nazwisko</th>
    </thead>

    <tbody>

        @foreach (var user in users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td><a href="/users/@user.Id" class="btn btn-primary">Edycja</a></td>
                <td><button @onclick=@(() => Remove(user.Id)) class="btn btn-danger">Usuń</button></td>
            </tr>
        }

    </tbody>
</table>

@code {

    List<User> users = new List<User>();

    protected override void OnInitialized()
    {
        users = repository.GetAll();
    }

    private void Remove(int id)
    {
        repository.Remove(id);

        navigationManager.Refresh(true);
    }
}
